@font-face {
    font-family: RedHat;
    src: url('../fonts/RedHat.ttf');
}

:root {
    /* variables */
    --background: #3d405b;
    --foreground: #2d3042;
    --text: #fdfffc;
}

body {
    /* positioning */
    display: flex;
    justify-content: center;
    align-items: center;

    /* appearance: */
    font-family: RedHat;
    background-color: var(--background);
}

.title-box {
    /* sizing */
    max-width: fit-content;
    max-height: fit-content;

    /* appearance */
    background-color: var(--foreground);
    border-radius: 0.5rem;
    color: var(--text);
    padding: 1rem;
}