<!DOCTYPE html>
<html lang="en">

<head>
    <title>Guitar Tuner</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <div class="title-box">
        <h1>guitar tuning</h1>
    </div>

    <div class="audio-buttons">
        <button id="start-recording">
            <img src="{{ url_for('static', filename='assets/play-button.svg') }}">
            <span>begin recording</span>
        </button>
        <button id="stop-recording">
            <img src="{{ url_for('static', filename='assets/stop-button.svg') }}">
            <span>stop recording</span>
        </button>
    </div>
</body>

</html>